<section id="bookShelvs">
    <% selectedBooks.forEach((ele,indx)=>{  %>
    <div>
        <img src=" <%= ele.image_url %> " alt="">
        <h2><%= ele.title %></h2>
        <h3><%= ele.author %></h3>
        <h3><%= ele.isbn %></h3>
        <p id="dis"><%= ele.description %></p>

        <button class="creatForm">Update Details</button>
        <form action="/books/<%= ele.id %>?_method=delete" method="post">
            <button class="deleteBtn">Delete Book</button>
          </form>

        <section class="hiddenForm">
            
            <form action='/books/<%= ele.id %>?_method=put' method="POST">
                <input name="title" type="text" placeholder="title" value=" <%= ele.title %> ">
                <input name="author" type="text" placeholder="author" value="<%= ele.author %>">
                <input name="isbn" type="text" placeholder="isbn" value="<%= ele.isbn %>">
                <input name="image_url" type="text" value="<%= ele.image_url %>">
                <TEXtarea name="description" cols="40" rows="10"
                    placeholder="discription">  "<%= ele.description %>" </TEXtarea>
                <input type="text" name="bookshelf" placeholder="bookshelf">
                <input class="btn" type="submit" value="go">
            </form>

        </section>
    </div>

    <% }) %>
</section>