<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>book_app</title>
</head>

<body>
    <header>
        <nav>
            <button id="btnMain">Main</button>
            <h1 id="headTitle">Book_app</h1>
            
        </nav>
                <ul id="navList">
                    <li><a href="/">main</a></li>
                    <li><a href="/searches/new">Search</a></li>
                </ul>

    </header>

    <main>
        <section id="totalBooks">
            <h2>TotalBooks : <%= selectedBooks.length %></h2>

        </section>
        <section id="bookShelvs">
            <% selectedBooks.forEach(ele=>{ %>
            <div >
                <img src="<%= ele.image_url %>" alt="">
                <h2><%= ele.title %></h2>
                <h3><%= ele.author %></h3>
                <p id="dis"><%= ele.description %></p>
                <a href="/books/<%= ele.id %>"><button>Select</button></a>

            </div>
            <% }) %>
        </section>
        <!-- <%- include=('books/details'); %> -->

    </main>
    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js"></script>
</body>

</html>