<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <header>
       <a href="/">main</a>
    </header>
    
    <main>
        <section id="totalBooks">
            <h2><%= selectedBooks.length %></h2>

        </section>
        <section id="bookDetails">
            <% selectedBooks.forEach(ele=>{ %>
                <div>
                    <img src="<% ele.image_url %>" alt="">
                    <h2><%= ele.title %></h2>
                    <h3><%= ele.author %></h3>
                    <p><%= ele.description %></p>
                    <button>Select</button>
                </div>
                <% }) %>
        </section>
        <!-- <%- include=('books/details'); %> -->

    </main>
    <footer>

    </footer>

</body>

</html>